.Header {
  border: 1px solid blue;
  margin-bottom: 15px;
  margin-top: 20px;
  // border: 1px solid red;
}

.Header .nameWrapper {
  // border: 1px solid red;
  font-family: "rust-script";
  font-size: 3.2rem;
  line-height: 50px;
  // width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.Header .cvtext {
  // border: 1px solid red;
  // text-align: center;
  font-family: "rust-script";
  // font-size: 1em;
  // margin-top: -10px;
  // display: inline-block;
}
