.Hobbies {
  // border: 1px solid red;
  // height: 200px;
  // margin-bottom: 15px;
}

.Hobbies__header {
  margin-top: 10px;
  margin-bottom: 8px;
}

.Hobbies__content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Hobbies__hobbies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 0px;
}

.Hobbies__card {
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.295);
  padding: 5px 10px 3px;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

// replaced with global h3 style
// .Hobbies .header {
//   margin: 15px 0;
// }

// .Hobbies__card {
//   padding: 5px 10px 3px;
//   flex-grow: 1;
//   text-align: center;
//   cursor: pointer;
//   // margin-right: 10px;
//   // margin-bottom: 10px;
// }

.Hobbies__card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.137);
}
