.card {
  border-radius: 5px;
  box-shadow: 0 0 5px var(--shd-grey1);
  overflow: hidden;
}

.card .headerStrip {
  background-color: var(--clr-grey01);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
}

.card > .content {
  padding: 15px;
  line-height: 1.4rem;
}
