.Header {
  margin-bottom: 15px;
  margin-top: 20px;
}

.Header__nameWrapper {
  font-family: "rust-script";
  font-size: 3.2rem;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.Header__cvtext {
  font-family: "rust-script";
}
