.PortfolioList > .content {
  padding-top: 5px;
}

.PortfolioList .job {
  padding-bottom: 10px;
}

.PortfolioList .job .header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.PortfolioList .job .title {
  font-weight: bolder;
}

.PortfolioList .job .link {
  font-style: italic;
}

.PortfolioList h3 {
  margin: 15px 0px 10px;
}

.PortfolioList .primary {
  margin-bottom: -3px;
}

.PortfolioList .job:last-child {
  padding-bottom: 0px;
}

.PortfolioList ul {
  padding-top: 0px;
  padding-bottom: 0px;
}
