.About {
  border: 1px solid rgb(197, 197, 197);
  // height: 600px;
  margin: 30px 100px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
}

.About .header {
  // font-family: "sam";
  font-size: 2rem;
  padding: 10px 0;
}

.About .content {
  line-height: 2rem;
}
