.ItemName {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  background-color: white;
  //
  display: flex;
  align-items: center;
  //
  height: 40px;
  overflow: hidden;
  //
  margin: 10px 10px 15px 10px;
  padding: 0 10px;
  //
  cursor: pointer;
}

.ItemName i {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .level-1 > .ItemName {
//   background-color: var(--color-bg-tier1);
//   color: var(--color-f-tier1);
// }

// .level-2 > .ItemName {
//   // background-color: var(--color-bg-tier2);
//   background-color: var(--color-bg-tier3);
//   color: var(--color-f-tier2);
// }

// .level-3 > .ItemName {
//   // background-color: var(--color-bg-tier3);
//   background-color: white;
//   color: var(--color-f-tier3);
// }

.itemLabel {
  flex-shrink: 0;
  margin-left: 10px;
}

// .ItemName .buttonIcon {
//   font-size: 1.5rem;
// }
