// .Login > .login > .header
// .Login > .login > form > .username > label-for-username / input-id-username
// .Login > .login > form > .password > label-for-password / input-id-password

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid blue;
  border-radius: 5px;
  height: 100vh;
}

.Login > .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  // padding-bottom: 10px;
}

.Login > .login > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  background-color: rgb(240, 244, 245);
  margin: 30px 0 0;
  padding: 20px;
  width: 100%;
}

.Login > .login > .header > .matt {
  display: flex;
  align-items: center;
  font-family: "sam";
  font-size: 2rem;
  color: rgb(55, 66, 68);
  border: 1px solid rgba(0, 0, 0, 0.253);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
  background-color: rgb(190, 217, 226);
  border-radius: 25px;
  height: 50px;
  padding: 10px;
}

.Login > .login > .header > .lusty {
  font-family: "sam";
  font-size: 2rem;
  color: rgb(55, 66, 68);
  display: flex;
  align-items: center;
  // border: 1px solid blue;
  border-radius: 25px;
  height: 50px;
  padding: 10px;
}

.Login > .login > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;
  margin: 50px 0px 50px 0px;
  width: 300px;
}
.Login > .login > form > .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login > .login > form > .username > label {
  display: block;
  padding: 0px 20px 5px 0px;
}

.Login > .login > form > .password > label {
  display: block;
  padding: 0px 20px 5px 0px;
}

.Login > .login > form > .username > input {
  display: block;
  border: 1px solid rgb(168, 168, 168);
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.Login > .login > form > .password > input {
  border: 1px solid rgb(168, 168, 168);
  display: block;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.Login > .login > form > button {
  width: 100px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(190, 217, 226, 0.37);
  width: 100%;
}
