// using .Nav .title ... height = 50px

.Nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // justify-content: space-between;
  // height: 100px;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
  padding: 10px 0;
}

.Nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c5c5c5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border-radius: 10px;
  margin: 0 0 0 10px;
  font-family: "sam";
  font-size: 2.7rem;
  height: 50px;
  width: 230px;
}

.Nav > .rightSide {
  display: flex;
  justify-self: flex-end;
}

.Nav .menu {
  display: none;
}

.Nav .mobileMenuToggle {
  border: 1px solid #696969;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 20px;
  padding: 10px;
  cursor: pointer;
}

.Nav > * {
  margin: auto 0;
}

@media only screen and (min-width: 890px) {
  .Nav .mobileMenuToggle {
    display: none;
  }

  .Nav .menu {
    display: flex;
    height: 50px;
  }

  .Nav > ul.menu {
    display: flex;
  }

  .Nav .menu > li {
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    height: 50px;
    padding: 10px 20px;
    cursor: pointer;
  }

  // .Nav .menu .profileItem {
  //   border: 1px solid red;
  //   border-radius: 100%;
  //   width: 50px;
  //   height: 50px;
  // }

  .Nav .menu li:last-child {
    margin-right: 20px;
  }
}
