.Portfolio .item {
  border: 1px solid rgb(197, 197, 197);
  // height: 600px;
  margin: 30px 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
  cursor: pointer;
}

.Portfolio .item:hover {
  border: 1px solid rgb(134, 134, 134);
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.877);
}

.Portfolio .header {
  // font-family: "sam";
  font-size: 2rem;
  padding: 10px 0;
}

.Portfolio .content {
  line-height: 2rem;
}

@media only screen and (min-width: 890px) {
  .Portfolio .item {
    margin: 30px 100px;
  }

  .Portfolio .header {
    font-size: 2rem;
  }

  .Portfolio .content {
    line-height: 2rem;
  }
}
