// .ProfileMenu {
//   border: 1px solid rgb(197, 197, 197);
//   // height: 600px;
//   margin: 30px 100px;
//   padding: 20px;
//   border-radius: 15px;
//   background-color: #f8f8f8;
//   box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
// }

// .ProfileMenu .header {
//   // font-family: "sam";
//   font-size: 2rem;
//   padding: 10px 0;
// }

// .ProfileMenu .content {
//   line-height: 2rem;
// }

.ProfileMenu {
  position: relative;
  margin: 0 20px;

  // display: flex;
  // // justify-content: center;
  // // align-items: center;
  // border: 1px solid red;
  // border-radius: 100%;
  // height: 50px;
  // width: 50px;
  // margin: 0 20px;
}

.ProfileMenu .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.ProfileMenu .profileMenu {
  border: 1px solid #c5c5c5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  background-color: rgb(248, 248, 248);
  // border: 1px solid red;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  // width: 250px;
  // padding: 10px;
  margin-top: 5px;
}

.ProfileMenu .profileMenu.hidden {
  display: none;
}

.ProfileMenu .profileMenu > .header {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: flex;
  padding: 5px 10px;
  margin: 10px 0 0 0;
}

.ProfileMenu .profileMenu > .header > .icon {
  display: flex;
  color: #bebebe;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #bebebe;
  margin-right: 5px;
}

.ProfileMenu .profileMenu > .header > .user {
  display: flex;
  align-items: center;
  // height: 50px;
  border-radius: 5px;
  // border: 1px solid black;
  padding: 5px;
}

.ProfileMenu .profileMenu > .header > .close {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  // border: 1px solid red;
}

.ProfileMenu .profileMenu > .header > .close > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.ProfileMenu .profileMenu > ul {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.ProfileMenu .profileMenu > ul > li {
  // border: 1px solid black;
  padding: 15px;
}

// .ProfileMenu .profileMenu > ul > li.logout {
//   background-color: white;
//   margin-bottom: 10px;
//   border-top: 1px solid #dddddd;
//   border-bottom: 1px solid #dddddd;
// }

.ProfileMenu.hidden {
  display: none;
}
