.SideMenu.hidden {
  width: 0px;
}

.SideMenu {
  border-right: 1px solid rgb(150, 150, 150);
  background-color: rgb(245, 245, 245);

  // POSITION
  position: fixed; //not needed now
  top: 0;

  // MAIN
  width: 250px; // (252px - originally) (300px - was then this) (242px - with no logo left margin)
  height: 100vh;
  box-sizing: content-box;

  // DISPLAY
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // OTHER
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.SideMenu .header {
  padding: 10px 10px 0 10px;
  font-family: "sam";
  font-size: 2rem;
}

.SideMenu .header .inner {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  background-color: white;

  //
  display: flex;
  align-items: center;
  //
  height: 50px;
  overflow: hidden;
  //
  padding: 0 10px;
  //
  cursor: pointer;
}

.menuHeader {
  box-shadow: var(--shad-lighter);
  border-bottom: 1px solid var(--color-menu-border);
}

@media only screen and (min-width: 790px) {
  .SideMenu {
    display: none;
  }
}
