.card {
  border-radius: 5px;
  box-shadow: 0 0 5px #c4c4c4;
  overflow: hidden;
}

.card__headerStrip {
  background-color: var(--clr-grey01);
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
}

.card__content {
  padding: 15px;
  line-height: 1.4rem;
}
