.CV-Page {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  bottom: 0px;
  top: 70px;
}

.CV-Page .noAccess {
  border: 1px solid #c5c5c5;
  height: 300px;
  width: 300px;
  margin: 30px 100px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
}
