/*b   db  .d88b.  d8888b. .88b  d88.  .d8b.  db      d888888b .d8888. d88888b 
888o  88 .8P  Y8. 88  `8D 88'YbdP`88 d8' `8b 88        `88'   88'  YP 88'     
88V8o 88 88    88 88oobY' 88  88  88 88ooo88 88         88    `8bo.   88ooooo 
88 V8o88 88    88 88`8b   88  88  88 88~~~88 88         88      `Y8b. 88~~~~~ 
88  V888 `8b  d8' 88 `88. 88  88  88 88   88 88booo.   .88.   db   8D 88.     
VP   V8P  `Y88P'  88   YD YP  YP  YP YP   YP Y88888P Y888888P `8888Y' Y8888*/
* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  white-space: nowrap;
}

th {
  text-align: unset;
}

a {
  text-decoration: none;
}

h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

img {
  display: block;
}

/*88b   db       .d88b.  d8888b.  .d8b.  db      .d8888. 
88' Y8b 88      .8P  Y8. 88  `8D d8' `8b 88      88'  YP 
88      88      88    88 88oooY' 88ooo88 88      `8bo.   
88  ooo 88      88    88 88~~~b. 88~~~88 88        `Y8b. 
88. ~8~ 88booo. `8b  d8' 88   8D 88   88 88booo. db   8D 
 Y888P  Y88888P  `Y88P'  Y8888P' YP   YP Y88888P `8888*/
body,
input {
  font-family: "proxima";
  font-size: 1rem;
  color: #0d0c22;
}

/*8888b  .d88b.  d8b   db d888888b .d8888. 
88'     .8P  Y8. 888o  88 `~~88~~' 88'  YP 
88ooo   88    88 88V8o 88    88    `8bo.   
88~~~   88    88 88 V8o88    88      `Y8b. 
88      `8b  d8' 88  V888    88    db   8D 
YP       `Y88P'  VP   V8P    YP    `8888*/
@font-face {
  font-family: "proxima";
  src: url("../fonts/proxima.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sam";
  src: url("../fonts/sam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
