.Portfolio__item {
  border: 1px solid #c5c5c5;
  margin: 30px 30px;
  padding: 20px;
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.467);
  cursor: pointer;
}

.Portfolio__item:hover {
  border: 1px solid #868686;
  box-shadow: 0 0 20px rgba(182, 182, 182, 0.877);
}

.Portfolio__header {
  font-size: 2rem;
  padding: 10px 0;
}

.Portfolio__content {
  line-height: 2rem;
}

@media only screen and (min-width: 890px) {
  .Portfolio__item {
    margin: 30px 100px;
  }
  .Portfolio__header {
    font-size: 2rem;
  }
  .Portfolio__content {
    line-height: 2rem;
  }
}
