.ProfileMenu {
  position: relative;
  margin: 0 20px;
  display: none;
}

.ProfileMenu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #696969;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.ProfileMenu__profileMenu {
  border: 1px solid #696969;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
  background-color: #f8f8f8;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  margin-top: 8px;
  min-width: 180px;
}

.ProfileMenu__profileMenu--closed {
  display: none;
}

.ProfileMenu__header {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: flex;
  padding: 5px 10px;
  margin: 10px 0 0 0;
  white-space: nowrap;
}

.ProfileMenu__icon {
  display: flex;
  color: #bebebe;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #bebebe;
  margin-right: 5px;
}

.ProfileMenu__user {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}

.ProfileMenu__items {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.ProfileMenu__li {
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.ProfileMenu__li:hover {
  background-color: #ececec;
}

@media only screen and (min-width: 890px) {
  .ProfileMenu {
    display: block;
  }
}
