.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 100vh;
}

.Register > .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a8a8a8;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
}

.Register > .register > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f5;
  margin: 30px 0 0;
  padding: 20px;
  width: 100%;
}

.Register > .register > .header {
  display: flex;
  align-items: center;
  font-family: "sam";
  font-size: 2.5rem;
  color: #374244;
  height: 90px;
}

.Register > .register > .header > .lusty {
  font-family: "sam";
  font-size: 2rem;
  color: #374244;
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  padding: 10px;
}

.Register > .register > .login {
  margin: 30px;
  font-size: 0.9rem;
}

.Register > .register > .login > a {
  color: #2d96b9;
}

.Register > .register > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 50px 0px;
  width: fit-content;
}

.Register > .register > form > .names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.Register > .register > form > .names > .field {
  width: 150px;
}

.Register > .register > form > .names > .field > input {
  width: 100%;
  border: 1px solid #b8b8b8;
  padding: 8px;
  border-radius: 10px;
}

.Register > .register > form > .email {
  display: flex;
  flex-direction: column;
}

.Register > .register > form > .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Register > .register > form label {
  display: block;
  padding: 0px 20px 5px 0px;
  font-size: 0.7rem;
  font-weight: bold;
  margin-left: 8px;
}

.Register > .register > form input {
  display: block;
  border: 1px solid #b8b8b8;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.Register > .register > form > button {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(190, 217, 226, 0.37);
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.219);
  margin-top: 20px;
  font-family: "proxima";
}

.Register > .register > form > button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.589);
}
