.SideMenu {
  border-right: 1px solid #969696;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 250px;
  height: 100vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.SideMenu--hidden {
  width: 0px;
}

.SideMenu__header {
  padding: 10px 10px 0 10px;
  font-family: "sam";
  font-size: 2rem;
}

.SideMenu__headerInner {
  border: 1px solid #969696;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
  background-color: white;
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
  padding: 0 10px;
  cursor: pointer;
}

.SideMenu__menuHeader {
  box-shadow: var(--shad-lighter);
  border-bottom: 1px solid var(--color-menu-border);
}

@media only screen and (min-width: 890px) {
  .SideMenu {
    display: none;
  }
}
